<div class='link <%= link.read ? "read" : "unread" %>' id='<%=link.id%>'>

  <% if link.top_link? && link.read_count > 0 %>
    <h3>TOP LINK!</h3>
  <% elsif link.hot_link? && link.read_count > 0 %>
    <h3>Hot!</h3>
  <% end %>

  <p id="read-sta"<span class='hidden'><%= link.id %></span>
  <p id="link-title">Title: <%= link.title %></p>
  <p id="link-url">URL: <%= link.url %></p>

  <p>Read?: <span class='read-status'><%= link.read %></span></p>

  <% if link.read %>
    <button class='mark-as-unread'>Mark as Unread</button>
  <% else %>
    <button class='mark-as-read'>Mark as Read</button>
  <% end %>

  <%= button_to "Edit", edit_link_path(link), :method => "get" %>
</div>
