<% if @link.errors.any? %>
  <% @link.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<br>

<h1>Edit Link</h1>

<br>

<%= form_for(@link) do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url, value: @link.url %>

  <%= f.label :title %>
  <%= f.text_field :title, value: @link.title %>

  <%= f.submit "Update Link" %>
<% end %>
