<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "Sign Out", logout_path, method: :delete, class: "logout" %>
  </div>
</nav>

<div class="main">
  <div class="errors">
    <% if @link.errors.any? %>
      <% @link.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    <% end %>
  </div>

  <br>

  <%= render partial: "links/form" %>

  <h2>Filters</h2>
  <p>By text: <%= text_field_tag 'filter' %></p>
  <button id='unread-links'>Only Unread Links</button>
  <button id='read-links'>Only Read Links</button>

  <hr>

  <div id="all-links">
    <% @links.each do |link| %>
      <%= render partial: "links/link", :locals => {link: link} %>
    <% end %>
  </div>
</div>
