<%= link_to "Sign Out", logout_path, method: :delete %><br>

<% if @link.errors.any? %>
  <% @link.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<br>

<%= form_for(@link) do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit "Add Link", id: "add-link" %>
<% end %>

<h2>Filters</h2>
<p>By text: <%= text_field_tag 'filter' %></p>
<button id='unread-links'>Only Unread Links</button>
<button id='read-links'>Only Read Links</button>

<hr>

  <% @links.each do |link| %>
    <div class='link'>
      <p class='hidden'><%= link.id %></p>
      <p>Title: <%= link.title %></p>
      <p>URL: <%= link.url %></p>
      <div class='read-status'>
        <p>Read?: <%= link.read %></p>
      </div>
      <button class='mark-as-read'>Mark as Read</button>
      <%= button_to "Edit", edit_link_path(link), :method => "get" %>
    </div>
  <% end %>
